<div class="container" id="home-container">
    <div class="bg-light text-center  text-white p-5 mb-4">
        <h1 class="display-4 fw-bold">Blog World</h1>
        <p class="lead">This is the site that never ends, and it goes on and on my friend.</p>
        <p class="lead">Some people started blogging and not knowing what it was,</p>
        <p class="lead">and they just keep on blogging just forever just because. </p>
        
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>